# Dependency and build directories
**/node_modules/
**/.next/
**/.netlify/
**/build/
**/.dart_tool/
**/.gradle/
**/android/.gradle/
**/android/app/build/
**/ios/Pods/
**/dist/
**/out/

# Caches
.eslintcache
*.tsbuildinfo

# Logs & temp files
*.log
_dev.*.log
**/*.log
.tmp_*
**/tmp/

# Secrets, Keystores & Credentials
.cloud_sql_env.json
.db_password.txt
*.json
!package.json
!**/package.json
!package-lock.json
!**/package-lock.json
!tsconfig.json
!**/tsconfig.json
!firebase.json
!apphosting.yaml
!**/apphosting.yaml
*.jks
*.keystore
*.der
*.pem
key.properties
**/key.properties

# Android & Bundle builds
*.aab
*.apk
META-INF/
**/META-INF/
starcast-webview-android/
scratch/
